In [60]:
import matplotlib.pyplot as plt

In [6]:
import numpy as np

In [7]:
import pandas as pd

In [8]:
import random

In [11]:
pip install -U scikit-learn

Collecting scikit-learnNote: you may need to restart the kernel to use updated packages.
  Downloading scikit_learn-0.23.2-cp37-cp37m-win_amd64.whl (6.8 MB)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\francesca\anaconda3\envs\tensorflow\lib\site-packages (from scikit-learn) (1.19.1)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\francesca\anaconda3\envs\tensorflow\lib\site-packages (from scikit-learn) (1.5.2)
Collecting joblib>=0.11
  Downloading joblib-0.17.0-py3-none-any.whl (301 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-0.17.0 scikit-learn-0.23.2 threadpoolctl-2.1.0

In [15]:
import sklearn

In [16]:
from sklearn import datasets, linear_model

In [20]:
train_input=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\train_total_adjusted_input.txt')
train_target=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\train_total_adjusted_target.txt')
test_input=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\test_total_adjusted_input.txt')
test_target=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\test_total_adjusted_target.txt')

In [21]:
train_input.head()

   tanb0  tanb1  tanb2  adim_d1  adim_d2    adim_H
0   0.04   0.01   0.01      0.0   5200.0  0.000001
1   0.10   0.01   0.01      0.0   5200.0  0.000001
2   0.13   0.01   0.01      0.0   5200.0  0.000001
3   0.01   0.05   0.05      0.0   5200.0  0.000001
4   0.07   0.05   0.05      0.0   5200.0  0.000001

In [22]:
test_input.head()

   tanb0  tanb1  tanb2  adim_d1  adim_d2    adim_H
0   0.01   0.01   0.01      0.0   5200.0  0.000001
1   0.07   0.01   0.01      0.0   5200.0  0.000001
2   0.04   0.05   0.01      0.0   5200.0  0.000001
3   0.10   0.05   0.01      0.0   5200.0  0.000001
4   0.13   0.10   0.01      0.0   5200.0  0.000001

In [23]:
train_target.head()

   adim_R
0   5.116
1   7.558
2   6.946
3   0.060
4   5.436

In [24]:
test_target.head()

   adim_R
0   1.110
1   7.324
2   2.920
3   6.224
4   4.120

In [25]:
train_input.describe()

,tanb0,tanb1,tanb2,adim_d1,adim_d2,adim_H
count,53125.000000,53125.000000,53125.000000,53125.000000,53125.000000,5.312500e+04
mean,0.070033,0.102037,0.102087,579.491451,4868.721443,9.131220e-07
std,0.042431,0.067946,0.067929,502.427727,2453.797581,1.078997e-06
min,0.010000,0.010000,0.010000,0.000000,1733.333333,8.006097e-08
25%,0.040000,0.050000,0.050000,200.000000,3333.333333,2.134959e-07
50%,0.070000,0.100000,0.100000,500.000000,4200.000000,4.269919e-07
75%,0.100000,0.150000,0.150000,800.000000,5800.000000,9.607317e-07
max,0.130000,0.200000,0.200000,2000.000000,11600.000000,3.842927e-06

In [27]:
training=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\train_total_adjusted_i+t.txt')

In [28]:
testing=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\test_total_adjusted_i+t.txt')

In [29]:
training.head()

   tanb0  tanb1  tanb2  adim_d1  adim_d2    adim_H  adim_R
0   0.04   0.01   0.01      0.0   5200.0  0.000001   5.116
1   0.10   0.01   0.01      0.0   5200.0  0.000001   7.558
2   0.13   0.01   0.01      0.0   5200.0  0.000001   6.946
3   0.01   0.05   0.05      0.0   5200.0  0.000001   0.060
4   0.07   0.05   0.05      0.0   5200.0  0.000001   5.436

In [30]:
testing.head()

   tanb0  tanb1  tanb2  adim_d1  adim_d2    adim_H  adim_R
0   0.01   0.01   0.01      0.0   5200.0  0.000001   1.110
1   0.07   0.01   0.01      0.0   5200.0  0.000001   7.324
2   0.04   0.05   0.01      0.0   5200.0  0.000001   2.920
3   0.10   0.05   0.01      0.0   5200.0  0.000001   6.224
4   0.13   0.10   0.01      0.0   5200.0  0.000001   4.120

In [33]:
training.shape

(53125, 7)

In [34]:
testing.shape

(9375, 7)

In [40]:
regr=linear_model.LinearRegression()

In [42]:
lfit=regr.fit(train_input, train_target)

In [43]:
print('Coefficients: \n', regr.coef_)

Coefficients:
 [[ 4.34854309e+00 -2.19433837e+01 -3.14580692e+00 -7.58107919e-04
   1.78478011e-04  3.09646528e+05]]

In [44]:
prediction_of_test=regr.predict(test_input)

In [51]:
rows = len(test_target)
print(rows)

9375

In [58]:
test = {}
prediction = {}
diff = {}
mse = {}

In [59]:
for i in range(rows):
    test = test_target[i]
    prediction = prediction_of_test[i]
    diff = (test - prediction)**2
mse=sum/rows
print("MSE", mse)

KeyError: 0