In [2]:
import tensorflow as tf
print(tf.__version__)
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten, Softmax
print ('end')

1.14.0
end

In [1]:
import pandas 
pandas.__version__

'1.1.3'

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [43]:
import matlplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matlplotlib'

In [5]:
train_input=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\train_total_adjusted_input.txt')

In [6]:
train_input.head()

   tanb0  tanb1  tanb2  adim_d1  adim_d2    adim_H
0   0.04   0.01   0.01      0.0   5200.0  0.000001
1   0.10   0.01   0.01      0.0   5200.0  0.000001
2   0.13   0.01   0.01      0.0   5200.0  0.000001
3   0.01   0.05   0.05      0.0   5200.0  0.000001
4   0.07   0.05   0.05      0.0   5200.0  0.000001

In [7]:
test_input=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\test_total_adjusted_input.txt')

In [8]:
test_input.head()

   tanb0  tanb1  tanb2  adim_d1  adim_d2    adim_H
0   0.01   0.01   0.01      0.0   5200.0  0.000001
1   0.07   0.01   0.01      0.0   5200.0  0.000001
2   0.04   0.05   0.01      0.0   5200.0  0.000001
3   0.10   0.05   0.01      0.0   5200.0  0.000001
4   0.13   0.10   0.01      0.0   5200.0  0.000001

In [9]:
train_target=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\train_total_adjusted_target.txt')

In [10]:
train_target.head()

   adim_R
0   5.116
1   7.558
2   6.946
3   0.060
4   5.436

In [11]:
test_target=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\test_total_adjusted_target.txt')

In [12]:
test_target.head()

   adim_R
0   1.110
1   7.324
2   2.920
3   6.224
4   4.120

In [13]:
train_input.shape

(53125, 6)

In [14]:
train_target.shape

(53125, 1)

In [15]:
test_input.shape

(9375, 6)

In [16]:
test_target.shape

(9375, 1)

In [48]:
# Build the Sequential feedforward neural network model
# softmax gives a value between 0  and 1, so this needs to be changed. Our output can go higher, will stop at 1.  
model = Sequential([
    #Flatten(input_shape=(53125,6)),
    Dense(6, name='layer_0'),
    Dense(128, activation='relu', name='layer_1'),
    Dense(128, activation='relu', name='layer_2'),
    #Dense(128, activation='relu', name='layer_3'),
    #Dense(128, activation='relu', name='layer_4'),
    #Dense(128, activation='relu', name='layer_5'),
    Dense(1, activation='linear')
])

In [28]:
model.summary()

ValueError: This model has not yet been built. Build the model first by calling `build()` or calling `fit()` with some data, or specify an `input_shape` argument in the first layer(s) for automatic build.

In [49]:
#opt = tf.keras.optimizers.Adam(learning_rate=0.005)
#acc = tf.keras.metrics.SparseCategoricalAccuracy()
#mae = tf.keras.metrics.MeanAbsoluteError()
#mse= tf.keras.losses.mean_squared_error(train_target, y_pred)


#model.compile(optimizer=opt,
              #loss=mse
              #metrics=[acc,mae]
              #)
            
opt = tf.keras.optimizers.Adam(learning_rate=0.005)
acc = tf.keras.metrics.SparseCategoricalAccuracy()
mae = tf.keras.metrics.MeanAbsoluteError()

model.compile(optimizer=opt,
              loss='mse',
              metrics=[acc,mae]
              )

In [50]:
print(model.loss)
print(model.optimizer)
print(model.metrics)
print(model.optimizer.lr)

mse
<tensorflow.python.keras.optimizer_v2.adam.Adam object at 0x000000214F83D160>
[]
<tf.Variable 'learning_rate_5:0' shape=() dtype=float32>

In [51]:
 history = model.fit(train_input.values, train_target.values, epochs=8)

Epoch 1/8
53125/53125 [==============================] - 19s 360us/sample - loss: 2344.2191 - sparse_categorical_accuracy: 0.0019 - mean_absolute_error: 6.5542
Epoch 2/8
53125/53125 [==============================] - 18s 345us/sample - loss: 12.6566 - sparse_categorical_accuracy: 0.0019 - mean_absolute_error: 2.5368
Epoch 3/8
53125/53125 [==============================] - 17s 319us/sample - loss: 14.6011 - sparse_categorical_accuracy: 0.0019 - mean_absolute_error: 2.7309
Epoch 4/8
53125/53125 [==============================] - 20s 378us/sample - loss: 21.6613 - sparse_categorical_accuracy: 0.0019 - mean_absolute_error: 2.2551
Epoch 5/8
53125/53125 [==============================] - 19s 349us/sample - loss: 4.8445 - sparse_categorical_accuracy: 0.0019 - mean_absolute_error: 1.7631
Epoch 6/8
53125/53125 [==============================] - 17s 315us/sample - loss: 4.8657 - sparse_categorical_accuracy: 0.0019 - mean_absolute_error: 1.7630
Epoch 7/8
53125/53125 [==============================] - 17s 320us/sample - loss: 4.0475 - sparse_categorical_accuracy: 0.0019 - mean_absolute_error: 1.6492
Epoch 8/8
53125/53125 [==============================] - 22s 420us/sample - loss: 3.8733 - sparse_categorical_accuracy: 0.0019 - mean_absolute_error: 1.6204

In [52]:
#evaluate the model on the test set
test_loss, test_accuracy, test_mae = model.evaluate(test_input.values, test_target.values, verbose=2)

9375/9375 - 2s - loss: 4.3950 - sparse_categorical_accuracy: 0.0033 - mean_absolute_error: 1.6829