In [39]:
import tensorflow as tf
print(tf.__version__)
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten, Softmax
print ('end')

2.1.0
end

In [1]:
import pandas 
pandas.__version__

'1.1.3'

In [2]:
import pandas as pd

In [45]:
import numpy as np

In [22]:
train_input=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\train_total_adjusted_input.txt')

In [23]:
train_input.head()

   tanb0  tanb1  tanb2  adim_d1  adim_d2    adim_H
0   0.04   0.01   0.01      0.0   5200.0  0.000001
1   0.10   0.01   0.01      0.0   5200.0  0.000001
2   0.13   0.01   0.01      0.0   5200.0  0.000001
3   0.01   0.05   0.05      0.0   5200.0  0.000001
4   0.07   0.05   0.05      0.0   5200.0  0.000001

In [28]:
test_input=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\test_total_adjusted_input.txt')

In [29]:
test_input.head()

   tanb0  tanb1  tanb2  adim_d1  adim_d2    adim_H
0   0.01   0.01   0.01      0.0   5200.0  0.000001
1   0.07   0.01   0.01      0.0   5200.0  0.000001
2   0.04   0.05   0.01      0.0   5200.0  0.000001
3   0.10   0.05   0.01      0.0   5200.0  0.000001
4   0.13   0.10   0.01      0.0   5200.0  0.000001

In [30]:
train_target=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\train_total_adjusted_target.txt')

In [31]:
train_target.head()

   adim_R
0   5.116
1   7.558
2   6.946
3   0.060
4   5.436

In [32]:
test_target=pd.read_table('C:\\Users\\Francesca\\Documents\\special course\\henriette\\test_total_adjusted_target.txt')

In [33]:
test_target.head()

   adim_R
0   1.110
1   7.324
2   2.920
3   6.224
4   4.120

In [34]:
train_input.shape

(53125, 6)

In [35]:
train_target.shape

(53125, 1)

In [36]:
test_input.shape

(9375, 6)

In [37]:
test_target.shape

(9375, 1)

In [74]:
# Build the Sequential feedforward neural network model

model = Sequential([
    #Flatten(input_shape=(53125,6)),
    Dense(128, activation='relu', input_shape=(53125,6), name='layer_1'),
    Dense(128, activation='relu', name='layer_2'),
    #Dense(128, activation='relu', name='layer_3'),
    #Dense(128, activation='relu', name='layer_4'),
    #Dense(128, activation='relu', name='layer_5'),
    Dense(10, activation='softmax')
])

In [75]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
layer_1 (Dense)              (None, 53125, 128)        896
_________________________________________________________________
layer_2 (Dense)              (None, 53125, 128)        16512
_________________________________________________________________
dense_4 (Dense)              (None, 53125, 10)         1290
=================================================================
Total params: 18,698
Trainable params: 18,698
Non-trainable params: 0
_________________________________________________________________

In [76]:
#opt = tf.keras.optimizers.Adam(learning_rate=0.005)
#acc = tf.keras.metrics.SparseCategoricalAccuracy()
#mae = tf.keras.metrics.MeanAbsoluteError()
#mse= tf.keras.losses.mean_squared_error(train_target, y_pred)


#model.compile(optimizer=opt,
              #loss=mse
              #metrics=[acc,mae]
              #)
            
opt = tf.keras.optimizers.Adam(learning_rate=0.005)
#acc = tf.keras.metrics.SparseCategoricalAccuracy()
mae = tf.keras.metrics.MeanAbsoluteError()

model.compile(optimizer=opt,
              loss='mse',
              metrics=[mae]
              )

In [77]:
print(model.loss)
print(model.optimizer)
print(model.metrics)
print(model.optimizer.lr)

mse
<tensorflow.python.keras.optimizer_v2.adam.Adam object at 0x00000046D9923648>
[<tensorflow.python.keras.metrics.MeanAbsoluteError object at 0x00000046D9923608>]
<tf.Variable 'learning_rate:0' shape=() dtype=float32, numpy=0.005>

In [78]:
 history=model.fit(train_input[..., np.newaxis], train_target, epochs=8)

KeyError: (Ellipsis, None)

SyntaxError: invalid syntax (<ipython-input-81-ebd16df435e3>, line 1)